.modalBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 5px;
  border: none;
  padding: 0;
}

.modalBox::backdrop {
}

.formWrapper {
  display: grid;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-out;
  perspective: 10000px;
}
